@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

svg:not(.MuiSvgIcon-root){
  width: 100% !important;
  height: 100% !important;
  display: inline-block !important;
  fill: inherit;
}

.swiper-pagination{
  bottom: 0 !important;
}
.swiper-pagination-bullet{
  background-color: #b1d2ffff !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet-active{
  background-color: #195ab4ff !important;
}
